* {
    margin: 0;
    padding: 0;
  }
  
  body {
  
    background-image: linear-gradient(to right, #231f20, #958771);
  
  }
  .logo{
    margin-left: 300px;
  }
    h2{
      font-family: cursive,sans;
      font-size: 30px;
      margin-left: 670px;
      margin-top: -40px;
      color:  #231f20;
    }
    
    nav {
    
      display: flex;
      margin-left: 412px;
      margin-top: -58px;
      align-items: center;
      column-gap: 80px;
      padding: 108px;
    }
    
  
    
    
    .nav1 {
    
      width: 100px;
      height: 40px;
      border-radius: 10px;
      font-size: 19px;
      font-family: 'Courier New', Courier, monospace;
      color: #000000;
      background-color: #958771 ;
      font-weight: bolder;
    
    }
    
    .nav1:hover {
      background-color: #231f20;
      color: #e6e7e9;
      transition: 0.9s;
    }
    
    .nav2 {
      width: 100px;
      height: 40px;
      border-radius: 10px;
      font-size: 19px;
      font-family: 'Courier New', Courier, monospace;
      color: #000000;
      background-color: #958771 ;
      font-weight: bolder;
    
    }
    
    .nav2:hover {
      background-color: #231f20;
      color: #e6e7e9;
      transition: 0.9s;
    }
    
    .nav3 {
      width: 130px;
      height: 40px;
      border-radius: 10px;
      font-size: 19px;
      font-family: 'Courier New', Courier, monospace;
      border-color: #000000;
    
    }
    
    .nav3:hover {
      background-color: #231f20;
      color: #e6e7e9;
      transition: 0.9s;
    }
 
    #name,#email,#message,#submit{
background-color: #958771;
    }
    form{
      color:  #231f20;
margin-left: 500px;
margin-top: 40px;
    }
    #submit{
      margin-left: 410px;
      
    }
#email{
  margin-left: 3px;
}
#name{
  margin-left: 20px;
}
p{
  margin-left: 620px;
  margin-top: 30px;
  font-family: cursive,sans;
  font-size: 20px;
  color:  #231f20;
}