* {
    margin: 0;
    padding: 0;
  }
  
  body {
  
    background-image: linear-gradient(to right, #231f20, #958771);
  
  }
  
.logo{
  margin-left: 300px;
}
.C1{
  height: 341px;
  width: 432px;
  margin-left: -58px;

}
.C2{
  height: 213px;
  width: 176px;
  margin-left: 877px;
  margin-bottom: -107px;
}

  h2{
    font-family: cursive,sans;
    font-size: 30px;
    margin-left: 700px;
    margin-top: -40px;
    color:  #231f20;
  }

  nav {
  
    display: flex;
    margin-left: 412px;
    margin-top: -400px;
    align-items: center;
    column-gap: 80px;
    padding: 108px;
  }
  

  
  
  .nav1 {
  
    width: 100px;
    height: 40px;
    border-radius: 10px;
    font-size: 19px;
    font-family: 'Courier New', Courier, monospace;
    color: #000000;
    background-color: #958771 ;
    font-weight: bolder;
  
  }
  
  .nav1:hover {
    background-color: #231f20;
    color: #e6e7e9;
    transition: 0.9s;
  }
  
  .nav2 {
    width: 100px;
    height: 40px;
    border-radius: 10px;
    font-size: 19px;
    font-family: 'Courier New', Courier, monospace;
    color: #000000;
    background-color: #958771 ;
    font-weight: bolder;
  
  }
  
  .nav2:hover {
    background-color: #231f20;
    color: #e6e7e9;
    transition: 0.9s;
  }
  
  .nav3 {
    width: 130px;
    height: 40px;
    border-radius: 10px;
    font-size: 19px;
    font-family: 'Courier New', Courier, monospace;
    border-color: #000000;
  
  }
  
  .nav3:hover {
    background-color: #231f20;
    color: #e6e7e9;
    transition: 0.9s;
  }
  .p1{
font-size: 40px;
font-family: 'Courier New', Courier, monospace;
margin-left: 437px;
margin-top: 60px;
  }
  .p2{
font-size: 40px;
font-family: 'Courier New', Courier, monospace;
margin-top: -180px;
margin-left: 913px;
  }
  .i1{
    font-size: 20px;
    margin-left: 450px;
  }
  .i2{
    margin-left: 450px;
    font-size: 20px;  
}
  .i3{
    margin-left: 450px;
    font-size: 20px;  
}
.i4{
    margin-left: 450px;
    font-size: 20px;  
}
.i5{
    margin-left: 450px;
    font-size: 20px;  
}
.i6{
    margin-left: 450px;
    font-size: 20px;  
}
  .pp1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    margin-left: 950px;
  }
  .pp2{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    margin-left: 950px;
  }
  .pp3{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    margin-left: 950px;
  }
  .pp4{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    margin-left: 950px;
  }
  .pp5{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    margin-left: 950px;
  }
  .pp6{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    margin-left: 950px;
  }
